<div ng-include="'resources/views/navigator.html'"></div>
<!--<div ng-include="'views/navigator.html'"></div>-->

<div id="form-container">

   
   <form id="implements-form">
      <div id="implement-form-views" ui-view></div>
   </form>

</div>


<div ng-include="'resources/views/footer.html'"></div>
<!--<div ng-include="'views/footer.html'"></div>-->