<!--<div ng-include="'views/navigator.html'"></div>-->
<div ng-include="'resources/views/navigator.html'"></div>

<div id="form-container">
  
  
  <div class="page-header text-center">
    <h1>SPECS Application Negotiation Wizard</h1>

    <comp-navbar/>


    <comp-navbar></comp-navbar>

    
  </div>
  
  <ul class="pager wizard">
   <li class="previous" ><a ng-if="routerState.current.name != 'negotiate.start'" ng-click="prevState()">Previous</a></li>
   <li class="next"><a ng-if="routerState.current.name != 'negotiate.overview'" ng-click="nextState()">Next</a></li>
  </ul>

  
   <form id="negotiate-form">
      <div id="negotiate-form-views" ui-view></div>
   </form>

</div>

<ul class="pager wizard">
  <li class="previous" ><a ng-if="routerState.current.name != 'negotiate.start'" ng-click="prevState()">Previous</a></li>
  <li class="next"><a ng-if="routerState.current.name != 'negotiate.overview'" ng-click="nextState()">Next</a></li>
</ul>

<!--<div ng-include="'views/footer.html'"></div>-->
<div ng-include="'resources/views/footer.html'"></div>