<ul class="nav nav-pills nav-wizard">
        <li ng-class="{ active: isActive('/negotiate/start'), disabled: !isActive('/negotiate/start') }" ><a style="pointer-events: none;
       cursor: default;" data-toggle="tab">Start</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/service'), disabled: !isActive('/negotiate/service')}" ><div class="nav-wedge"></div><a style="pointer-events: none;
       cursor: default;" data-toggle="tab">Select Service</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/capability'), disabled: !isActive('/negotiate/capability')}"><div class="nav-wedge"></div><a  style="pointer-events: none;
       cursor: default;" data-toggle="tab">Select Capabilities</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/security'), disabled: !isActive('/negotiate/security')}"><div class="nav-wedge"></div>
        <a  style="pointer-events: none;
       cursor: default;" data-toggle="tab">Select Security
									Controls</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/agreement'), disabled: !isActive('/negotiate/agreement')}"><div class="nav-wedge"></div>
        <a   style="pointer-events: none;
       cursor: default;" data-toggle="tab">Define Agreement
									Terms</a><div class="nav-arrow"></div></li>
        <li ng-class="{ active: isActive('/negotiate/overview'), disabled: !isActive('/negotiate/overview')}"><div class="nav-wedge"></div>
        <a  style="pointer-events: none;
       cursor: default;" data-toggle="tab">SLA Overview</a></li>
              
</ul>







