<div id="_navigator">
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<!--				<a class="navbar-brand" href="#"> <img alt="Brand" src="resources/img/specs-logo-32.png"></a>-->
				<a class="navbar-brand" href="#"> <img alt="Brand"
					src="resources/img/specs-logo-32.png"></a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{ active: tabActive('/welcome') }"><a
						ui-sref="welcome">Home</a></li>
					<li ng-class="{ active: tabActive('/negotiate/start') }"><a
						ui-sref="negotiate.start">Negotiate SLA</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Sla Mangment <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li ng-class="{ active: tabActive('/sign/start') }"><a
								ui-sref="sign.start">Sign SLA</a></li>
							<li ng-class="{ active: tabActive('/implement/start') }"><a
								ui-sref="implement.start">Implement SLA</a></li>
							<li ng-class="{ active: tabActive('/monitor/start') }"><a
								ui-sref="monitor.start">Monitoring SLA</a></li>

						</ul></li>

					<li><a
						href="http://apps.specs-project.eu/security-reasoner/Welcome.do"
						target="_blank">Reasoner Evaluate</a></li>
					<li><a
						href="http://apps.specs-project.eu/metric-catalogue-app/"
						target="_blank">Metric Catalogue</a></li>

				</ul>

				<ul class="nav navbar-nav navbar-right">
					<li><a>Welcome</a></li>
					<li><a href="./logout.jsp">LogOut</a></li>
				</ul>
			</div>

		</div>
	</nav>
</div>

