<style>
.popover {
	max-width: 600px;
	width: auto;
}
</style>

<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Observe SLA</h2>
	</div>

	<div class="panel-body ">

		<!--
<div class="well">
In the following, the list of implemented SLAs is reported. <br/> 
For each SLA the current implementation status is displayed:
<ol>
<li><b>Implementation Started:</b> the SLA implementation process has been started; </li>
<li><b>VMs Acquired:</b> the required virtual machines have been acquired from an external CSP;</li>
<li><b>VMs Prepared:</b> each VM has been prepared for the installation of one or more SPECS security mechanisms; </li>
<li><b>Security mechanisms installation started:</b> the security mechanisms installation has been started;</li>
<li><b>Security mechanisms installation completed:</b> all security mechanisms have been installed on acquired VMs;</li>
<li><b>Ready:</b> the acquired resources are ready to use and security mechanisms are running.</li> 
</ol>
The implementation status is updated periodically by the system, unless an instant update is requested by clicking on the "Force Update" button.
When in the "Ready" state, the End-User can request monitoring information by clicking the Monitor Button. 
</div>
-->
		<div id="implemented_sla" class="panel panel-default">

			<div class="panel-heading">
				<h3>Implemented SLAs</h3>
			</div>

			<div class="panel-body">
				<table class="table" id="signed_sla">
					<thead>
						<tr>
							<th>SLA ID</th>
							<!--                <th id="popoverData"  data-content={{tooltipContent}} rel="popover" data-placement="right" data-html="true" data-trigger="hover">Implementation Status</th>-->
							<th>SLA Status</th>
							<th id="popoverMonitorImplement" sla-tooltip html="true"
								position="right" content={{tooltipContent}}>Implementation
								Status</th>
							<th>Monitoring Info</th>
							<th>SLA Template</th>
							<th>Synthetic view</th>
							<th>Actions</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="monitor in monitors"
							ng-hide="('{{monitor.state}}' == 'TERMINATED' && !showTerminatedSlas) || ('{{monitor.state}}' == 'ERROR' && !showErrorSlas) || ('{{monitor.slastate}}' == 'UNKNOWN' && !showUnknownSlas)">
							<td><span class="badge">{{monitor.slaid}}</span></td>
							<td><a
								ng-class="{'color-red': monitor.slastate === 'VIOLATION', 'color-orange': monitor.slastate === 'ALERT', 'color-green': monitor.slastate === 'SIGNED'}"
								href='' ng-click="annotations(monitor.slaid)">{{monitor.slastate}}</a></td>
							<td id="{{monitor.id}}_status">{{monitor.state}}</td>
							<td>
								<button class="btn btn-primary" ng-click="goSummary(monitor);"
									data-ng-disabled="'{{monitor.state}}' != 'ACTIVE'">Monitor</button>
							</td>
							<td>
								<button class="btn btn-primary"
									ng-click="showXMLMonitorTemplate(monitor.slaid)">Template</button>
							</td>
							<td>
								<button class="btn btn-primary"
									ng-click="showSynt(monitor.idimpl)">Synthetic</button>
							</td>
							<td><select id="{{monitor.slaid}}_actionId"
								class="form-control"
								data-ng-disabled="'{{monitor.state}}' != 'ACTIVE'">

									<option value="Manage" selected="selected">Manage</option>
									<option value="Renegotiate">Renegotiate</option>
									<option value="Terminate">Terminate</option>
							</select></td>

							<td><button class="btn btn-primary"
									ng-click="startMonitorAction(monitor.idimpl, monitor.slaid)"
									data-ng-disabled="'{{monitor.state}}' != 'ACTIVE'">Execute</button></td>
							<!-- <td>
								<button class="btn btn-primary"
									ng-click="gotoManage(monitor.idimpl)"
									data-ng-disabled="'{{monitor.state}}' != 'ACTIVE'">Manage</button>
							</td>
							<td>
								<button class="btn btn-primary"
									ng-click="showRenegotiationView(monitor.slaid)"
									data-ng-disabled="'{{monitor.state}}' != 'ACTIVE'">Renegotiate</button>
							</td>
							<td>
								<button class="btn btn-primary"
									ng-click="terminate(monitor.slaid)"
									data-ng-disabled="'{{monitor.state}}' != 'ACTIVE'">Terminate</button>
							</td>
							 -->
						</tr>
					</tbody>
				</table>


				<div class="panel panel-default">
					<div class="panel-body">
						<label class="checkbox-inline"><input type="checkbox"
							ng-model="showTerminatedSlas"> Show Terminated Sla</label> <label
							class="checkbox-inline"><input type="checkbox"
							ng-model="showErrorSlas"> Show Error Sla</label> <label
							class="checkbox-inline"><input type="checkbox"
							ng-model="showUnknownSlas"> Show Unknown Sla</label>
					</div>
				</div>
				
				<button class="btn btn-primary" ng-click="getInfo()">Force
					Update</button>
				<b>Last update:</b>&nbsp;<span id="update">{{lastUpdate}}</span>

				<div id="template_sla" class="panel panel-default"
					ng-show="templateRequested">
					<div ng-show="templateRequested">
						<p style="text-align: center;">
							<b>Template with SLA ID: </b><span class="badge">{{monitorIdentifier}}</span>
						</p>
					</div>
					<div class="panel-body well"
						style="overflow-y: auto; height: 450px;" id='XMLMonitor'
						ng-model='formMonitor_templateXml' ng-show="templateRequested"></div>
					<button class="btn btn-primary" ng-click="templateRequested=false">Close</button>
				</div>

			</div>
			<!-- end of panel body -->

		</div>
		<!-- end of panel default implemented sla -->


		<div class="panel panel-default" id="syntetic_details">
			<!-- NODE DETAILS -->


			<div id="collapse1" ng-show="syntView" class="panel-body"
				id="syntethic_details">


				<table class="table" id="nodes_details">
					<thead>
						<tr>
							<th>Metric Name</th>
							<th>Operation</th>
							<th>Value</th>
							<th>Importance</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="synth in synths">
							<td>{{synth.name}}</td>

							<td>{{synth.operation}}</td>
							<td>{{synth.value}}</td>
							<td>{{synth.importance}}</td>

						</tr>

					</tbody>

				</table>
				<button class="btn btn-primary" ng-click="syntView=false">Close</button>
			</div>
			<!-- fine panel body -->
		</div>
		<!-- end of panel default NODE DETAILS -->

		<div class="panel panel-default" id="remediation_details">
			<!-- NODE DETAILS -->


			<div id="collapse1" ng-show="renegotiationView" class="panel-body"
				id="renegotiation_syntethic_details">


				<table class="table" id="nodes_details">
					<thead>
						<tr>
							<th>Metric Name</th>
							<th>Operation</th>
							<th>Value</th>
							<th>Importance</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="renegotiationSynth in renegotiationSynths">
							<td>{{renegotiationSynth.name}}</td>

							<td>{{renegotiationSynth.operation}}</td>
							<td style="width: 15%;"><input type="text"
								class="form-control" placeholder="value" id="key-value-id"
								ng-model=renegotiationSynth.value></td>
							<td>{{renegotiationSynth.importance}}</td>

						</tr>

					</tbody>

				</table>
				<button style="width: 20%;" class="btn btn-primary" disabled>Add
					Capabilities</button>
				<button style="width: 20%;"
					ng-click="startRenegotiation(renegotiationSynthsSlaId)"
					class="btn btn-primary">Submit</button>
				<button style="width: 20%;" class="btn btn-primary"
					ng-click="renegotiationView=false">Close</button>
			</div>
			<!-- fine panel body -->
		</div>
		<!-- end of panel default NODE DETAILS -->

		<div id="collapse2" ng-show="annotationView" class="panel-body"
			id="annotations_view">
			<div class="panel-heading">
				<h3>Annotation</h3>
			</div>

			<table class="table" id="annotations_details" caption="Annotation">
				<thead>
					<tr>
						<th>Id</th>
						<th>Description</th>
						<th>Timestamp</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="annotation in annotationsList.annotations">
						<td>{{annotation.id}}</td>
						<td>{{annotation.descr}}</td>
						<td>{{annotation.data}}</td>
					</tr>

				</tbody>

			</table>
			<button class="btn btn-primary" ng-click="closeAnnotationView()">Close</button>
		</div>
		<!-- fine panel body -->
	</div>
	<!-- end of panel default ANNOTATIONS -->

	<div class="panel panel-primary" ng-show="errorState">
		<div class="panel-body">{{errorMessage}}</div>
	</div>
	<div class="panel panel-primary" ng-show="!monitors.length">
		<div class="panel-body">{{alertMessage}}</div>
	</div>
	<!-- *****************************************************************  -->
</div>
<!-- end of panel body div-->
</div>
<!--  panel default  div -->
