<style type="text/css">
.backred {
	color: red;
}
</style>

<div class="panel panel-default">

	<div class="panel-heading">
		<h2>Implemented SLA Details</h2>
	</div>


	<div class="panel-body ">
		<!--  page main content -->


		<div class="well">
			This page shows the details of an implemented SLA (id and current
			status) and related monitoring information.<br /> For each metric
			that has been selected by the End-User during the negotiation, a
			panel reports the agreed SLO and the current measured value for the
			metric. <br /> Such value is updated periodically by the system,
			unless an instant update is requested by clicking on the "Force
			Update" button. The details of started nodes are shown in an
			additional hide/show panel at the bottom of the page, which reports
			the nodes' IDs, IPs and the installed security mechanisms. <br />
			Note that if no SLOs were selected during negotiation, no metrics
			will be displayed.
		</div>
		<!-- end of page main description -->




		<div class="panel panel-primary">
			<!--  SLA INFO -->

			<div class="panel-heading">
				<h3>SLA Context information</h3>
			</div>

			<div class="panel-body">
				<table>
					<tr>
						<td><h4>SLA ID:</h4></td>
						<td>
							<h4>
								<b><span class="badge">{{slaId}}</span></b>
							</h4>
						</td>
					</tr>
					<tr>
						<td><h4>SLA Status:</h4></td>
						<td><h4>
								<b>&nbsp;{{state}}</b>
							</h4></td>
					</tr>
				</table>
			</div>


		</div>
		<!--  end of SLA INFO -->
		<!--****************************************************************************************************** -->

		<br /> <br />

		<div id="metric_details" class="panel panel-default">
			<!--  metric TABLE -->

			<div class="panel-heading">
				<h3>Metrics Details</h3>
			</div>

			<div class="panel-body">

				<table class="table" id="metric_details">
					<thead>
						<tr>
							<th>Capability</th>
							<th>Metric Name</th>
							<th>SLO</th>
							<th>Measured Value</th>
							<th>Timestamp</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="metricdetail in metricsdetails">
							<td
							ng-class="{'color-red': metricdetail.state === 'NOT VALID', 'color-orange': metricdetail.state === 'UNAVAILABLE'}" >{{metricdetail.capabilityname}}</td>
							<td
								ng-class="{'color-red': metricdetail.state === 'NOT VALID', 'color-orange': metricdetail.state === 'UNAVAILABLE'}">{{metricdetail.metricname}}</td>
							<td
								ng-class="{'color-red': metricdetail.state === 'NOT VALID', 'color-orange': metricdetail.state === 'UNAVAILABLE'}">{{metricdetail.sloOperator}}
								{{metricdetail.sloOperand}}</td>
							<td
								ng-class="{'color-red': metricdetail.state === 'NOT VALID', 'color-orange': metricdetail.state === 'UNAVAILABLE'}">{{metricdetail.measuredvalue}}</td>
							<td
								ng-class="{'color-red': metricdetail.state === 'NOT VALID', 'color-orange': metricdetail.state === 'UNAVAILABLE'}">{{metricdetail.timestamp}}</td>

						</tr>
					</tbody>
				</table>

				<div class="panel panel-primary" ng-show="!metricsdetails.length">
					<div class="panel-body">{{alertMessage}}</div>
				</div>

				<button class="btn btn-primary" ng-click="getInfo()">Force
					Update</button>
				<b>Last update:</b>&nbsp;<span id="update">{{lastUpdate}}</span>




			</div>
			<!--  end of panel body -->

		</div>
		<!-- end of Metric TABLE -->

		<!--  *********************************************************************************************** -->


		<div class="panel panel-default" id="nodes_details">
			<!-- NODE DETAILS -->


			<div class="panel-heading">
				<h3>
					Nodes Details
					<button class="btn btn-primary nav-toggle" ng-model="toggle"
						ng-click="nodesDetails()"
						ng-init="buttonLabel='Show Details'; toggle=true">{{buttonLabel}}</button>
				</h3>
			</div>



			<div id="collapse1" ng-show="toggle!=true" class="panel-body"
				id="nodes_details">


				<table class="table" id="nodes_details">
					<thead>
						<tr>
							<th>#</th>
							<th>Node ID</th>
							<th>IPs</th>
							<th>Security mechanisms</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="node in nodes">
							<td>{{$index + 1}}</td>

							<td>{{node.publicip}}</td>

							<td>Public Ip: {{node.publicip}}<br /> Private Ip:
								{{node.privateip[0]}}
							</td>

							<td>
								<table id="nodes_details_securities">
									<tr ng-repeat="security in node.securities">
										<td>{{security}}</td>
									</tr>
								</table>
							</td>

						</tr>

					</tbody>

				</table>

			</div>
			<!-- fine panel body -->
		</div>
		<!-- end of panel default NODE DETAILS -->
		<!-- **************************************************************************** -->
		<div class="panel panel-primary" ng-show="errorState">
			<div class="panel-body">{{errorMessage}}</div>
		</div>

	</div>
	<!--  end of main content  -->
</div>
<!--  Div fine pagina -->
