<div class="panel panel-default">
  
  <div class="panel-heading">
    <h2>Sign SLA</h2>
  </div>
		
  <div class="panel-body ">

    <div class="well">
      This page shows the list of negotiated SLAs. <br/>
      Click on the "Sign SLA" button to sign the selected SLA.
    </div>
  
    <div class="panel panel-default">
      <div class="panel-body">
            
        <table class="table">

          <thead>
            <tr>
              <th>SLA ID</th>
              <th></th>
              <th></th>
                
            </tr>
          </thead>

          <tbody>
            <tr ng-repeat="sign in signs">
              <td width="10%"><span class="badge">{{sign.id}}</span></td>
              <td width="20%">
                <input type="radio" name="Sla_list" id="Sla_{{sign.id}}"  ng-value="'{{sign.id}}'" ng-click="cleanSignBox()" ng-model="formSign.SlaList">
<!--                <input type="radio" name="Sla_list" id="Sla_{{sign.id}}"  ng-value="sign" ng-click="cleanSignBox()" ng-model="formSign.SlaList">-->
              </td>
              <td>
                <button class="btn btn-primary"  ng-click="signSLA()" data-ng-disabled="formSign.SlaList != '{{sign.id}}'">Sign SLA</button>
              </td>
              <td>
                <button class="btn btn-primary"  ng-click="showXMLSignTemplate()" data-ng-disabled="formSign.SlaList != '{{sign.id}}'">Template</button>
              </td>
              <td>
                <button class="btn btn-primary"  ng-click="showSyntheticView(sign.id)">Synthetic</button>
              </td>
            </tr>
          </tbody>

        </table>
        <div class="well" style="overflow-y: auto; height:450px; " id='XMLSign' ng-model='formSign_xml' ng-show="templateRequested">
        
        </div>
		<button class="btn btn-primary" ng-show="templateRequested" ng-click="templateRequested=false" >Close</button>
      </div>
    </div>
            	
    <div  class="panel panel-default" id="syntetic_details"> <!-- NODE DETAILS -->


<div id="collapse1" ng-show="syntView"  class="panel-body" id="syntethic_details">

				 
				<table class="table" id="nodes_details">
						<thead>
							<tr>
								<th>Metric Name</th>
								<th>Operation</th>
								<th>Value</th>
								<th>Importance</th>
							</tr>
						</thead>
						<tbody>            				
							<tr ng-repeat="synth in synths">
								   <td>{{synth.name}}</td>
								   
								   <td>{{synth.operation}}</td>
									<td>{{synth.value}}</td>
									<td>{{synth.importance}}</td>
							
							</tr>
							
	     </tbody>
			
		</table>
		<button class="btn btn-primary"  ng-click="syntView=false" >Close</button>	 
	</div> <!-- fine panel body -->
</div> <!-- end of panel default NODE DETAILS -->
          
    <div class="panel panel-primary" ng-show="errorState">
      <div class="panel-body">{{errorMessage}}</div>
    </div>
    <div class="panel panel-primary" ng-show="!signs.length">
      <div class="panel-body">{{alertMessage}}</div>
    </div>

  </div> <!--  end of main panel body -->
</div> <!--  end of main panel -->
