<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Negotiated SLA</h2>
	</div>
	<div class="panel-body ">
		<div class="well">
			A Security SLA has been built according to your choices during the
			negotiation process. <br\> Check it and submit it in order to
			have it stored in your collection of negotiated SLAs. <br\> The
			next steps of the SPECS Application will enable you to sign and
			implement the SLA.
		</div>

		<button class="btn btn-primary" ng-click="submitSLA()"
			data-ng-disabled="!processCompleted">REQUEST OFFERS</button>

		<div ng-show="offers">
			<div class="panel panel-default">
				<div class="panel-body">

					<table class="table">

						<thead>
							<tr>
								<th>Offer N°</th>
								<th>Offer Id</th>
								<th></th>
								<th>Offer evaluation - Comparison element: <select
									id='EVALUATION_TYPE_ID' ng-change="rievaluateOffers()"
									ng-model="evaluationType"
									ng-options="evaluationType.type for evaluationType in evaluationTypes track by evaluationType.type"
									nd-init="evaluationTypes[0].type"></select>

								</th>
							</tr>
						</thead>

						<tbody>
							<tr ng-repeat="offer in offers">
								<td width="5%">{{$index}}</td>
								<td width="15%">{{offer.id}}</td>
								<td width="20%">
									<!--                  <input type="radio" name="Offer_list" id="Offer_{{offer.id}}" value="{{offer.id}}" ng-model="formOverview.OfferList">-->
									<input type="radio" name="Offer_list" id="Offer_{{offer.id}}"
									ng-value="offer" ng-model="formOverview.OfferList">
								</td>
								<td width="40%">{{offersEvaluation[$index].evaluation}}</td>
							</tr>
						</tbody>

					</table>

				</div>
				<button class="btn btn-primary" ng-click="submitOffer()"
					data-ng-disabled="!formOverview.OfferList">SUBMIT OFFER</button>
				<button class="btn btn-primary" ng-click="showXMLOffer()"
					data-ng-disabled="!formOverview.OfferList">SHOW OFFER</button>
					<button class="btn btn-primary" ng-click="showSyntheticOffer()"
					data-ng-disabled="!formOverview.OfferList">SHOW SYNTHETIC OFFER</button>
			</div>
			<div class="well" style="overflow-y: auto; height: 450px;"
				id='XMLOffer' ng-model='formOverview_xml' ng-show="offerSubmitted"></div>

			<div class="panel panel-default" id="syntetic_details" ng-show="offerSyntheticSubmitted">
				<!-- NODE DETAILS -->


				<div id="collapse1" class="panel-body"
					id="syntethic_details">

					<table class="table" id="nodes_details">
						<thead>
							<tr>
								<th>Provider Id</th>
								<th>Provider Name</th>
								<th>Hardware</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{provider.id}}</td>
								<td>{{provider.name}}</td>
								<td>{{provider.hardware}}</td>
							</tr>

						</tbody>

					</table>

					<table class="table" id="nodes_details">
						<thead>
							<tr>
								<th>Metric Name</th>
								<th>Operation</th>
								<th>Value</th>
								<th>Importance</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="synth in synths">
								<td>{{synth.name}}</td>

								<td>{{synth.operation}}</td>
								<td>{{synth.value}}</td>
								<td>{{synth.importance}}</td>

							</tr>

						</tbody>

					</table>
					<button class="btn btn-primary" ng-click="offerSyntheticSubmitted=false">Close</button>
				</div>
				<!-- fine panel body -->
			</div>
			<!-- end of panel default NODE DETAILS -->
		</div>



	</div>
</div>

<!--<div class="panel panel-primary" ng-show="errorState">-->
<div class="panel panel-primary" ng-if="errorState">
	<!--   <div class="panel-body">{{errorMessage}}</div>-->
	<div class="panel-body" ng-bind="errorMessage"></div>
</div>

<!--<div class="panel panel-primary" ng-show="!processCompleted">-->
<div class="panel panel-primary" ng-if="!processCompleted">
	<!--   <div class="panel-body">{{alertMessage}}</div>-->
	<div class="panel-body" ng-bind="alertMessage"></div>
</div>