<style>
.tooltip {
  display: none;
  position: absolute;
  background-color: #222;
  padding: 7px 10px;
  max-width: 250px;
  color: #fff;
}

.tooltip-show {
  display: inherit;
}

.tooltip-arrow {
  position: absolute;
	width: 0;
	height: 0; 
}

.tooltip-down .tooltip-arrow {
  top: -5px;
  left: 50%;
  margin-left: -5px;
	  border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-bottom: 5px solid #222;
}

.tooltip-up .tooltip-arrow {
  bottom: -5px;
  left: 50%;
  margin-left: -5px;
  	border-left: 5px solid transparent;
	  border-right: 5px solid transparent;
	  border-top: 5px solid #222;
}

.tooltip-right .tooltip-arrow {
  left: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-right: 5px solid #222;
}

.tooltip-left .tooltip-arrow {
  right: -5px;
  top: 50%;
  margin-top: -3px;
  	border-top: 5px solid transparent;
	  border-bottom: 5px solid transparent;
	  border-left: 5px solid #222;
}
</style>
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Security Controls</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      For each selected capability, choose the security controls you are interested in and assign them a score according to the importance you give to them.
      <br /> The listed controls belong to specific security frameworks, such as NIST Security Control Framework and CSA Cloud Control Matrix.
      <br /> Each control is associated with a set of security metrics, on top of which, in the next step, you will be able to define SLOs that will be inserted in a Security SLA.
      <br /> Note that, in case you do not select any control, you will not able to define SLOs in the next step.
    </div>

      <div class="well" ng-show="capabilities.length">

        <div class="panel panel-default" ng-repeat="capability in capabilities">
          <div class="panel-heading">
            <h2>{{capability.name}}</h2>
          </div>
          <div class="panel-body" ng-repeat="framework in capability.frameworks">
        <div class="well">
              <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">{{framework.name}}
                  <div class="panel-default">
                    <input type="checkbox" name="SA_CBs" id="SA_CB_{{capability.id}}" ng-model="selectedAll" />
                    Select All
                  </div>
                </div>
                
                <table class="table">
                  <col width="55%">
                    <col width="45%">
                    
                      <tr ng-repeat="control in framework.securityControls">
                        <td>
                          
                          <input type="checkbox" name="SC_CBs" id="SC_CB_{{control.id}}" ng-if="selectedAll && selectedAll != null" value="{{capability.id}}-{{control.id}}"
                                 ng-model="formSecurities[capability.id][framework.id][control.id]" ng-checked="formSecurities[capability.id][framework.id][control.id] = selectedAll"/>
                          
                          <input type="checkbox" name="SC_CBs" id="SC_CB_{{control.id}}" ng-if="!selectedAll && selectedAll != null" value="{{capability.id}}-{{control.id}}"
                                 ng-model="formSecurities[capability.id][framework.id][control.id]" ng-init="formSecurities[capability.id][framework.id][control.id] = selectedAll"/>
                          
                          <input type="checkbox" name="SC_CBs" id="SC_CB_{{control.id}}" ng-if="selectedAll == null" value="{{capability.id}}-{{control.id}}"
                                 ng-model="formSecurities[capability.id][framework.id][control.id]" />
                          
                          {{control.name}}
                          <br /> Importance weight:
                          
<!--
                          <select id='SC_IMPORTANCE_{{control.id}}'
                                  ng-model="formSecurityCtrl_SecurityControlWeight[control.id]"
                                   ng-disabled="!formSecurities[capability.id][framework.id][control.id]">
                           
                             <option ng-selected="importance == control.weight" ng-repeat="importance in control.weights" value='{{importance}}' >{{importance}}</option>

                          </select>
-->
                          
                           <!--<select id='SC_IMPORTANCE_{{control.id}}'
                                  ng-model="formSecurityCtrl_SecurityControlWeight[control.id]"
                                   ng-disabled="!formSecurities[capability.id][framework.id][control.id]"
                                   ng-options="imp for imp in control.weights">
                           
                          </select>-->
                          
                          <select id='SC_IMPORTANCE_{{control.id}}'
                                  ng-if="!formSecurities[capability.id][framework.id][control.id]"
                                  ng-model="formSecurityCtrl_SecurityControlWeight[control.id]"
                                  ng-disabled="!formSecurities[capability.id][framework.id][control.id]"
                                  ng-options="imp for imp in control.weights"
                                  data-toggle="tooltip" title="Check to Enable!"
                                  ng-init="formSecurityCtrl_SecurityControlWeight[control.id] = control.weight">
                           
                          </select>
                          
                          <select id='SC_IMPORTANCE_{{control.id}}'
                                  ng-if="formSecurities[capability.id][framework.id][control.id]"
                                  ng-model="formSecurityCtrl_SecurityControlWeight[control.id]"
                                  ng-disabled="!formSecurities[capability.id][framework.id][control.id]"
                                  ng-options="imp for imp in control.weights">
                           
                          </select>
                          
                          <!--<select id='SC_IMPORTANCE_{{control.id}}'
                                  ng-if="selectedAll"
                                  ng-model="formSecurityCtrl_SecurityControlWeight[control.id]"
                                  ng-disabled="!selectedAll"
                                  ng-options="imp for imp in control.weights">
                           
                          </select>-->
                          
                          <!--<input type="hidden" name="SC_CBs_DFT" id="SC_CB_{{control.weight}}" value="{{control.id}}-{{control.weight}}" 
                                 ng-model="formSecurityCtrl_DefaultSecurityControlWeight[control.id]" ng-init="formSecurityCtrl_DefaultSecurityControlWeight[control.id] = control.weight"/>-->
                           
                          <br />
                        </td>
                        <td>{{control.description}}</td>

                      </tr>

                </table>
                  
              </div>
            </div>

          </div>
        </div>
      </div>

<!--      <div class="panel panel-primary" ng-show="!capabilities.length">-->
      <div class="panel panel-primary" ng-if="!capabilities.length">
<!--         <div class="panel-body">{{alertMessage}}</div>-->
        <div class="panel-body" ng-bind="alertMessage"></div>
      </div>

    <!--  end of angular general controller -->
  </div>
  <!--  end of panel body -->
</div>
<!-- end panel default -->

<!--<div class="panel panel-primary" ng-show="errorState">-->
<div class="panel panel-primary" ng-if="errorState">
<!--   <div class="panel-body">{{errorMessage}}</div>-->
  <div class="panel-body" ng-bind="errorMessage"></div>
</div>