<div class="panel panel-default">

  <div class="panel-heading">
    <h2>Service Level Objectives</h2>
  </div>
  <div class="panel-body ">

    <div class="well">
      Select the security metrics that you want to monitor and specify, for each of them, your importance score and the SLO you want to achieve.
      <br\> The SLO is represented by a comparison expression over a metric. If you are not a security expert just adopt the default values and go ahead with the next step.
        <br\> Note that, in case you do not select any metric, you will not be able to obtain any guarantee over implemented security features.
    </div>

      <div class="well" ng-show="capabilities.length">

         <div class="panel panel-default" ng-repeat="capability in capabilities">
            <div class="panel-heading">
               <h3>{{capability.name}}</h3>
            </div>
             
            <div class="panel" ng-repeat="framework in capability.frameworks">   
                  <div class="panel-body">
                     <div>
                        <input type="checkbox" name="SA_METRICS_CBs" id="SA_METRICS_CB_{{capability.id}}" ng-model="selectedAllMetrics" />
                        Select All 
                     </div>
                     <ul class="list-group">
                        <li class="list-group-item" ng-repeat="metric in framework.metrics">
                            
                          <input type="checkbox" name="METRICS_CBs" id="METRICS_CB_{{metric.id}}" ng-if="selectedAllMetrics && selectedAllMetrics != null" value="{{metric.id}}"
                                 ng-model="formAgreements[capability.id][framework.id][metric.id]" ng-checked="formAgreements[capability.id][framework.id][metric.id] = selectedAllMetrics"/>
                          
                          <input type="checkbox" name="METRICS_CBs" id="METRICS_CB_{{metric.id}}" ng-if="!selectedAllMetrics && selectedAllMetrics != null" value="{{metric.id}}"
                                 ng-model="formAgreements[capability.id][framework.id][metric.id]" ng-init="formAgreements[capability.id][framework.id][metric.id] = selectedAllMetrics"/>
                          
                          <input type="checkbox" name="METRICS_CBs" id="METRICS_CB_{{metric.id}}" ng-if="selectedAllMetrics == null" value="{{metric.id}}"
                                 ng-model="formAgreements[capability.id][framework.id][metric.id]" />
                            
                           <b>{{metric.name}}</b>
                                                      
<!--                           <input type="checkbox" name="METRICS_CBs" id="METRICS_CB_{{metric.id}}" value="{{metric.id}}" ng-model="formAgreements[capability.id][framework.id][metric.id]"/><b>{{metric.name}}</b>-->
                           
                           <br /> <i>{{metric.description}}</i>
                           <br /> Importance:
                           <!--<select id='SLO_IMPORTANCE_{{metric.id}}' ng-model="formAgreementCtrl_Importance[metric.id]" ng-disabled="!formAgreements[capability.id][framework.id][metric.id]">
                              <option ng-selected="importance == metric.importance" ng-repeat="importance in metric.importances" value='{{importance}}' >{{importance}}</option>
                           </select>-->
                         
                           <select id='SLO_IMPORTANCE_{{metric.id}}'
                                  ng-if="!formAgreements[capability.id][framework.id][metric.id]"
                                  ng-model="formAgreementCtrl_Importance[capability.id][framework.id][metric.id]"
                                  ng-disabled="!formAgreements[capability.id][framework.id][metric.id]"
                                  ng-options="impor for impor in metric.importances"
                                  data-toggle="tooltip" title="Check to Enable!"
                                  ng-init="formAgreementCtrl_Importance[capability.id][framework.id][metric.id] = metric.importance">
                                  
                           </select>
                          
                           <select id='SLO_IMPORTANCE_{{metric.id}}'
                                  ng-if="formAgreements[capability.id][framework.id][metric.id]" 
                                  ng-model="formAgreementCtrl_Importance[capability.id][framework.id][metric.id]"
                                  ng-disabled="!formAgreements[capability.id][framework.id][metric.id]"
                                  ng-options="impor for impor in metric.importances">
                              
                           </select>


                           <!--<input type="hidden" name="SLO_IMPORTANCE_DFT" id="SLO_IMPORTANCE_DEFAULT" value="{{metric.id}}-{{metric.importance}}" 
                                 ng-model="formAgreementCtrl_DefaultImportance[metric.id]" ng-init="formAgreementCtrl_DefaultImportance[metric.id] = metric.importance"/>-->

                           <br /> Expression:
                           <!--<select id="SLO_EXP_OP_{{metric.id}}"  ng-model="formAgreementCtrl_Expression[metric.id]" ng-disabled="!formAgreements[capability.id][framework.id][metric.id]">
                                  <option ng-selected="operator.value == metric.operator" ng-repeat="operator in operators" value='{{operator.value}}'>{{operator.name}}</option>
                           </select>-->
                          
                          
                           <select id="SLO_EXP_OP_{{metric.id}}"  
                                   ng-if="!formAgreements[capability.id][framework.id][metric.id]"
                                   ng-model="formAgreementCtrl_Expression[capability.id][framework.id][metric.id]" 
                                   ng-disabled="!formAgreements[capability.id][framework.id][metric.id]"
                                   ng-options="operator for operator in operators"
                                   data-toggle="tooltip" title="Check to Enable!"
                                   ng-init="formAgreementCtrl_Expression[capability.id][framework.id][metric.id] = getDefaultOperatorName(metric.operator);">
                                   
                           </select>
                          
                          
                           <select id="SLO_EXP_OP_{{metric.id}}"  
                                   ng-if="formAgreements[capability.id][framework.id][metric.id]"
                                   ng-model="formAgreementCtrl_Expression[capability.id][framework.id][metric.id]" 
                                   ng-disabled="!formAgreements[capability.id][framework.id][metric.id]"
                                   ng-options="operator for operator in operators">
                                   
                           </select>
                          
                          
                           <!--<input type="hidden" name="SLO_EXP_DFT" id="SLO_EXP_{{operator.name}}" value="{{metric.id}}-{{operator.value}}" 
                                 ng-model="formAgreementCtrl_DefaultExpression[metric.id]" ng-init="formAgreementCtrl_DefaultExpression[metric.id] = metric.operator"/>-->
                           
                           <!--<input type="text" id="SLO_EXP_{{metric.id}}" value="{{metric.operand}}" ng-model="formAgreementCtrl_Operand[metric.id]" 
                                  ng-disabled="!formAgreements[capability.id][framework.id][metric.id]" ng-init="formAgreementCtrl_Operand[metric.id] = metric.operand"/>-->
                          
                          <input type="text" id="SLO_EXP_{{metric.id}}" value="{{metric.operand}}"
                                 ng-if="!formAgreements[capability.id][framework.id][metric.id]"
                                 ng-model="formAgreementCtrl_Operand[capability.id][framework.id][metric.id]" 
                                 ng-disabled="!formAgreements[capability.id][framework.id][metric.id]"
                                 data-toggle="tooltip" title="Check to Enable!"
                                 ng-init="formAgreementCtrl_Operand[capability.id][framework.id][metric.id] = metric.operand"/>
                          
                          <input type="text" id="SLO_EXP_{{metric.id}}" value="{{metric.operand}}" 
                                 ng-if="formAgreements[capability.id][framework.id][metric.id]"
                                 ng-model="formAgreementCtrl_Operand[capability.id][framework.id][metric.id]" 
                                 ng-disabled="!formAgreements[capability.id][framework.id][metric.id]"/>
                           
                           <!--<input type="hidden" name="SLO_EXP_DFT" id="SLO_EXP_{{operator.name}}" value="{{metric.id}}-{{operator.value}}" 
                                 ng-model="formAgreementCtrl_DefaultExpression[metric.id]" ng-init="formAgreementCtrl_DefaultExpression[metric.id] = metric.operator"/>-->
                           
                           <input type="hidden" name="SLO_SEC_CTRL" id="SLO_SEC_CTRL" value="{{metric.id}}-SLO_SEC_CTRL" 
                                  ng-model="formAgreementCtrl_SecurityControls[capability.id][framework.id][metric.id]" 
                                  ng-init="formAgreementCtrl_SecurityControls[capability.id][framework.id][metric.id] = metric.securityControls"/>

                           <br />
                          <button class="btn btn-primary" ng-click="openMetricDetails(metric.id);" data-ng-disabled="!formAgreements[capability.id][framework.id][metric.id]">Show metric details</button>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      

<!--         <div class="panel panel-primary" ng-show="!capabilities.length">-->
         <div class="panel panel-primary" ng-if="!capabilities.length">
<!--            <div class="panel-body">{{alertMessage}}</div>-->
           <div class="panel-body" ng-bind="alertMessage"></div>
         </div>

   </div>
    <!--  end of angular controller  -->
  </div>
  <!--  end of panel body -->
</div>
<!-- end of panel default -->
   
<!--<div class="panel panel-primary" ng-show="errorState">-->
<div class="panel panel-primary" ng-if="errorState">
<!--   <div class="panel-body">{{errorMessage}}</div>-->
  <div class="panel-body" ng-bind="errorMessage"></div>
</div>