<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Security Capabilities</h2>
  </div>
  <div class="panel-body ">
    <div class="well">
      Select one or more security capabilities that you want to add to the service.
      <br /> A security capability is a collection of security controls, i.e. safeguards and countermeasures, that can be applied over your services.
      <br /> In case you do not select any capability, the service will be delivered with no additional security features or guarantees.
    </div>

     <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Capability Name</th>
          <th>Description</th>
          <tr>
      </thead>
      <tbody>
        <tr ng-repeat="capability in capabilities">
          <td>
            <input type="checkbox" name="capabilityCB" id="{{capability.id}}" value="{{capability.id}}" 
                   ng-model="formCapabilities[capability.id]"/>
          </td>
          <td width="30%">{{capability.name}}</td>
          <td>{{capability.description}}</td>
          <tr />
      </tbody>
    </table>

<!--   <div class="panel panel-primary" ng-show="!capabilities.length">-->
   <div class="panel panel-primary" ng-if="!capabilities.length">
<!--      <div class="panel-body">{{alertMessage}}</div>-->
      <div class="panel-body" ng-bind="alertMessage"></div>
   </div>
     
  </div>
</div>

<!--<div class="panel panel-primary" ng-show="errorState">-->
<div class="panel panel-primary" ng-if="errorState">
<!--  <div class="panel-body">{{errorMessage}}</div>-->
  <div class="panel-body" ng-bind="errorMessage"></div>
</div>

